body{
    background: white;
}
.languagePage{
    background-color: #2250C6 
}

.languageHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* I put 300 px for the allignment */
  }
  
  .languageHeader h2 {
    font-family: 'Rhetorik Serif Trial', serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin: 0;
  }
  
  .languageButton {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding-left: 12px;
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 100px; /* I gave the margins for same wiew  */
    border-radius: 90px;
    border: 1px solid var(--skh, #18D2D2);
    background-color: #2250C6;
    width: 428.42px;
    height: 94.548px;
    flex-shrink: 0;
    cursor: pointer;
  }

  
  .languageFlag {
    width: 61.913px;
    height: 61.913px;
    margin-right: 5px;
    flex-shrink: 0;
  }
  
  .languageText {
  
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
    color: var(--white, #FFF);
    font-size: 24px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin: 0;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 82px;
    margin-left: 30px;
  }
  
  /* I made the hover */
  .languageButton:hover {
    background-color: #1a40b1;
  }
  

#homeButtonDemo{
    border-radius: 430px;
    background: var(--fari-blue, #2250C6);
    box-shadow: 0px 0px 15px 8px rgba(132, 247, 248, 0.25) inset;
    width: 430px;
    height: 430px;
    left: 1215px;
    top: 299px;
    flex-shrink: 0;
}


h1{
    font-size: 60px;
    color: #2250C6;
    text-align: center;
    position: relative;
}


#carouselContainer{
    margin: auto;
    width: 80%;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    white-space: nowrap;
  }

.carouselItem {
display: inline-block;
}



.zoom-out {
    transform: scale(0.8); /* 80% of the original size */
    transform-origin: 0 0; /* Sets the origin for the transformations to the top left corner of the element */
}