body{
    background: white;
}

/* Language Page's Styles Beginning */

@font-face {
  font-family: "Plain";
  src: url(../Welcome-Screen/assets/fonts/Plain-Regular.otf);

  font-family: RhetorikSerif;
  src: url(../Welcome-Screen/assets/fonts/RhetorikSerifTrial-Regular.ttf); 
}

.languagePage{
    background-color: #2250C6 
}

.languageHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* I put 300 px for the allignment */
  }
  
  .languageHeader h2 {
    font-family: RhetorikSerif, serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin: 0;
  }
  
  .languageButton {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding-left: 12px;
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 100px; /* I gave the margins&Paddings for same wiew because I could not find the pattern  */
    border-radius: 90px;
    border: 1px solid var(--skh, #18D2D2);
    background-color: #2250C6;
    width: 428.42px;
    height: 94.548px;
    flex-shrink: 0;
    cursor: pointer;
  }

  
  .languageFlag {
    width: 61.913px;
    height: 61.913px;
    margin-right: 5px;
    flex-shrink: 0;
  }
  


  .languageText {
    color: var(--white, #FFF);
    font-size: 24px;
    font-family: Plain;
    font-weight: 400;
    margin: 0;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 82px;
    margin-left: 30px;
  }
  
  /* I made the hover */
  .languageButton:hover {
    background-color: #1a40b1;
  }
  

  /* Home Page's Styles Beginning */
#homeButtonDemo{
    border-radius: 430px;
    background: var(--fari-blue, #2250C6);
    box-shadow: 0px 0px 15px 8px rgba(132, 247, 248, 0.25) inset;
    width: 430px;
    height: 430px;
    left: 1215px;
    top: 299px;
    flex-shrink: 0;
    float: right;
}

.home-instructions{
  display: inline-block;
  align-items: flex-start;
  margin-left: 100px;
}

.home-instructions h1 {
  margin-bottom: 3px;
  font-family: RhetorikSerif;
  font-size: 100px;
  font-weight: 400;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  color: #2250C6;
}

.home-instructions h2{
  margin-top: 0;
  font-family: Plain;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #65C0B5;
}

.home-instructions-info p {
  font-family: Plain;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A202C;
}

.home-instructions-research {
  font-family: Plain;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(179, 177, 177); 
  display: flex;
  margin-right: ;
  padding-right: 1000px;
}

#carouselContainer{
    margin: auto;
    width: 80%;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    white-space: nowrap;
  }

.carouselItem {
display: inline-block;
}




.zoom-out {
    transform: scale(0.8); /* 80% of the original size */
    transform-origin: 0 0; /* Sets the origin for the transformations to the top left corner of the element */
}