/* General */

body {
  background: white;
  transition: background-color 0.2s ease-in;
}

@font-face {
  font-family: "Plain";
  src: url(./assets/fonts/Plain-Regular.otf);
}

@font-face {
  font-family: "RhetorikSerif";
  src: url(./assets/fonts/RhetorikSerifTrial-Regular.ttf);
}

/* Language Page Start */
.languagePage {
  background-color: #2250c6;
}

.languageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.languageHeader h2 {
  font-family: "RhetorikSerif", serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.languageButton {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding-left: 12px;
  margin-top: 150px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 90px;
  border: 1px solid #18d2d2;
  background-color: #2250c6;
  width: 428.42px;
  height: 94.548px;
  flex-shrink: 0;
  cursor: pointer;
}

.languageFlag {
  width: 61.913px;
  height: 61.913px;
  margin-right: 5px;
  flex-shrink: 0;
}

.languageText {
  color: #fff;
  font-size: 24px;
  font-family: "Plain";
  font-weight: 400;
  margin: 0;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 82px;
  margin-left: 30px;
}

.languageButton:hover {
  background-color: #1a40b1;
}
/* Language Page End */

/* Home Page Start */
.page-header-languagesbutton {
  font-size: 14px;
  background-color: transparent;
  color: #2f4fbb;
  width: 114.624px;
  height: 41.888px;
  border: 1px solid #2f4fbb;
  border-radius: 72px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-demobutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 80vh;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-instructions {
  display: inline-block;
  align-items: flex-start;
  margin-right: 360px;
  width: 780px;
}

.home-instructions h1 {
  width: 1080px;
  display: inline-block;
  font-family: "RhetorikSerif";
  font-size: 66px;
  font-weight: 400;
  text-align: left;
  color: #2250c6;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-instructions h2 {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-family: "Plain";
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #65c0b5;
}

.home-instructions-info p {
  font-family: "Plain";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a202c;
  width: 680px;
  margin-block-start: 2px;
  margin-block-end: 8px;
}

.home-instructions-research {
  display: inline-block;
  font-family: "Plain";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 8px;
  width: 300px;
}

.research_l {
  width: auto;
  height: auto;
  min-width: 280px;
  margin-block-start: 2px;
  margin-block-end: 8px;
}

.research_l em {
  font-style: normal;
  color: #b3b1b1;
}

.imageList {
  display: flex;
  color: grey;
}

.button-learnMore {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 10px;
  background-color: #2250c6;
  color: white;
  width: 163.64px;
  height: 51.31px;
  top: 715.59px;
  left: 276.63px;
  border: 1px;
  border-radius: 58px;
}

#homeButtonDemo {
  border: #1a202c;
  border-radius: 430px;
  background: var(--fari-blue, #2250c6);
  color: white;
  font-size: 24px;
  box-shadow: 0px 0px 15px 8px rgba(132, 247, 248, 0.25) inset;
  width: 300px;
  height: 300px;
}

.carouselItem {
  display: inline-flex;
  text-align: center;
  vertical-align: bottom;
  padding-left: 40px;
  padding-right: 40px;
}

#carouselContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
}

/* Home Page End */

/* Learn More Page Start */
.page-header-exit-button {
  font-size: 50px;
  background-color: transparent;
  color: #fefefe;
  position: absolute;
  top: 40px;
  left: 1800px;
  border: none;
  display: flex;
  cursor: pointer;
}

.learnmore-content {
  text-align: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 80px;
}

.learnmore-content h1 {
  font-family: "RhetorikSerif";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #fbfbfb;
  width: 447.3167724609375px;
  height: 48px;
  top: 31.816162109375px;
  left: 72.54931640625px;
  margin-bottom: 0px;
}

.learnmore-content h3 {
  color: #65c0b5;
  width: 444.8874206542969px;
  height: 21px;
  top: 87.92306518554688px;
  left: 74.978759765625px;
  margin-bottom: 0px;
  margin-top: 2px;
}

.learnmore-content p {
  color: #fff;
  width: 529.7550048828125px;
  top: 144.92306518554688px;
  left: 73.05029296875px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  margin-block-start: 25px;
  margin-block-end: 0px;
}

.learnmore-rectangle {
  margin-top: 150px;
  margin-right: 30px;
  width: 1135px;
  height: 647.63px;
  background-color: #cac8c8;
  width: 1135px;
  top: 148.92306518554688px;
  left: 745px;
  float: right;
}
/* Learn More Page End */

/* DEMO Page Start */
.page-header-demo {
  display: flex;
  width: 1839.87841796875px;
  height: 52.36003112792969px;
  top: 38.745361328125px;
  left: 38.73681640625px;
  align-items: center;
  margin-bottom: 10px;
}

.page-header-demo i {
  font-style: normal;
}

.demo-previous-button,
.demo-home-button,
.demo-languages-button,
.demo-learnmore-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: transparent;
  color: #2f4fbb;
  width: 134.624px;
  height: 31.888px;
  border: 1px solid #2f4fbb;
  border-radius: 72px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 0px;
}

.demo-previous-button {
  margin-left: 40px;
  margin-right: 1120px;
}

/* Demo Page End */
